body
{
	background:#e5e5e5;
	margin:0;
}
#control_pane
{
	width:28%;
	height:100%;
	margin:0;
	float:left;
	border-right:1px solid #000;
}
#media_pane
{
	width:70%;
	height:100%;
	margin:0;
	float:left;
	overflow-y:scroll;
}
.media_item
{
	width:200px;
	height:230px;
	background:#FFF;
	margin:3px;
	float:left;
	cursor:pointer;
}
.media_item img
{
	display:block;
	width:100px;
	margin:auto;
	margin-top:10px;
}
.media_item .media_title
{	
	margin-top:9px;
	text-align:center;
	color:#000;
	font-family: sans-serif;
	font-size:16px;

}
.media_item .media_description
{
	margin-top:9px;
	text-align:center;
	color:#000;
	font-family: sans-serif;
	font-size:13px;
}
#selected_media_info
{
	margin:10px;
}
#selected_media_info img
{
	margin-top:10px;
	margin-bottom:10px;
	width:100px;
}
#selected_media_info .title
{
	color:#000;
	font-family: sans-serif;
	font-size:18px;
	
}
